In [1]:
import numpy as np 
import pandas as pd

df = pd.read_csv('Datasets/play_tennis.csv')

In [3]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [4]:
py = 9/15
pn = 5/14

In [5]:
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [6]:
pon = 0
prn = 2/5
psn = 3/5

poy = 4/9
pry = 3/9
psy = 2/9

In [7]:
pcoolno = 1/5
photno = 2/5
pmildno = 2/5

pcoolyes = 3/9
photyes = 2/9
pmildyes = 4/9

In [8]:
phighno = 4/5
pnormalno=1/5

phighyes = 3/9
pnormalyes = 6/9

In [9]:
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [11]:
pstrongno = 3/5
pweakno = 2/5

pstrongyes = 3/9
pweakyes= 6/9

In [14]:
#Outlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak

Pyes = py*psy*photyes*phighyes*pweakyes
Pyes

0.006584362139917694

In [15]:
Pno = pn*psn*photno*phighno*pweakno
Pno

0.02742857142857143

In [16]:
#Hence, for the following conditions, Navie bayes will predict that we play tennis